$--max-width-size:1180px;
%centermargin{
    margin: 0 auto;
}



.section4 {
    @extend %centermargin;
    max-width: $--max-width-size;

    &_ourpricing {
        display: flex;
        flex-direction: column;
        @extend %centermargin;
        text-align: center;
        max-width: $--max-width-size;

        &_p {
            font-size: 3rem;
            padding-top: 1rem;
            font-weight: 800;
        }
    }

    &_price {
        border: 1px solid black;
        width: 300px;
        height: 400px;
        text-align: center;


        &_plan {
            padding-top: 2rem;
            font-weight: 800;
        }

        &_price {
            font-weight: 800;
            padding-top: 2rem;
            font-size: 3rem;
            color: #1EB2A6;
        }

        &_about {
            padding-top: 2rem;
            color: rgb(149, 149, 149);
            padding-bottom: 4rem;
        }

        &_started {
            width: 200px;
            height: 50px;
            border-color: #1EB2A6;
            border-radius: 6px;
        }

        &_started:hover {
            background-color: #1EB2A6;
            color: white;
        }
    }

    &_price_items {
        display: grid;
        padding-top: 2rem;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        padding-bottom: 2rem;
    }

}